sec_xml_specs/sec_specs/edgarlink-online-xml-tech-spec-52/EDGARLink Online XML Schema files/eis_SingleFiler.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Filename: eisSingleFilerSubmission.xsd -->
<!-- Purpose:  Defines the elements for EdgarLink filings. -->
<!-- Version:   TBD -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.sec.gov/edgar/singlefiler" xmlns:ns1="http://www.sec.gov/edgar/common" targetNamespace="http://www.sec.gov/edgar/singlefiler" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.sec.gov/edgar/common" schemaLocation="eis_Common.xsd"/>
	<xs:complexType name="FILER_TYPE">
		<xs:sequence>
			<xs:element name="filerId" type="ns1:CIK_TYPE"/>
			<xs:element name="filerCcc" type="ns1:CCC_TYPE"/>
			<xs:element name="fileNumber" type="ns1:FILE_NUMBER_TYPE" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="SUBMISSION_TYPE">
		<xs:annotation>
			<xs:documentation>
            Type of submission you are filing.  Choose a value from the appropriate family of
            Submission Types.  
            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="N-54A"/>
			<xs:enumeration value="N-54A/A"/>
			<xs:enumeration value="N-54C"/>
			<xs:enumeration value="N-54C/A"/>
			<xs:enumeration value="N-6F"/>
			<xs:enumeration value="N-6F/A"/>
			<xs:enumeration value="N-8A"/>
			<xs:enumeration value="N-8A/A"/>
			<xs:enumeration value="DSTRBRPT"/>
			<xs:enumeration value="DSTRBRPT/A"/>
			<xs:enumeration value="SBS DISPUTE NOTICE" />
			<xs:enumeration value="SBS DISPUTE NOTICE/A" />
			<xs:enumeration value="ANNLRPT"/>
			<xs:enumeration value="ANNLRPT/A"/>
			<xs:enumeration value="QRTLYRPT"/>
			<xs:enumeration value="QRTLYRPT/A"/>
		   	<xs:enumeration value="SH-ER"/>
			<xs:enumeration value="SH-ER/A"/>
			<xs:enumeration value="SH-NT"/>
			<xs:enumeration value="SH-NT/A"/>
			<xs:enumeration value="N-PX-NT"/>
			<xs:enumeration value="N-PX-NT/A"/>
			<xs:enumeration value="N-PX-VR"/>
			<xs:enumeration value="N-PX-VR/A"/>
			<xs:enumeration value="N-PX-CR"/>
			<xs:enumeration value="N-PX-CR/A"/>
			<xs:enumeration value="N-PXCON"/>
			<xs:enumeration value="N-PXCON/A"/>
			<xs:enumeration value="N-PXCONP"/>
            <xs:enumeration value="N-PXCONP/A"/>
            <xs:enumeration value="IRANNOTICE"/>
            <xs:enumeration value="DOS"/>
            <xs:enumeration value="DOS/A"/>
            <xs:enumeration value="SDR-CCO"/>
			<xs:enumeration value="SDR-CCO/A"/>	
			 <xs:enumeration value="SBSEF-CCO-RPT"/>
			<xs:enumeration value="SBSEF-CCO-RPT/A"/>	
			<xs:enumeration value="NRSRO-UPD"/>
            <xs:enumeration value="NRSRO-CE"/>
            <xs:enumeration value="NRSRO-CE/A"/>
            <xs:enumeration value="NRSRO-WREG"/>
            <xs:enumeration value="NRSRO-WCLS"/>
            <xs:enumeration value="NRSRO-FR"/>
            <xs:enumeration value="NRSRO-FR/A"/>
			<xs:enumeration value="SBSEF-CCO-RPT"/>
			<xs:enumeration value="SBSEF-CCO-RPT/A"/>
			<xs:enumeration value="SBSEF-FIN-QTR"/>
			<xs:enumeration value="SBSEF-FIN-QTR/A"/>
			<xs:enumeration value="SBSEF-FIN-REQ"/>
			<xs:enumeration value="SBSEF-FIN-REQ/A"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="FLAG_TYPE">
		<xs:sequence>
			<xs:element name="confirmingCopyFlag" type="ns1:TRUE_FALSE_TYPE" minOccurs="0"/>
			<xs:element name="overrideInternetFlag" type="ns1:TRUE_FALSE_TYPE" minOccurs="0"/>
			<xs:element name="returnCopyFlag" type="ns1:TRUE_FALSE_TYPE" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="edgarSubmission">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="schemaVersion" type="ns1:SCHEMA_VERSION_TYPE" minOccurs="0"/>
				<xs:element name="liveTestFlag" type="ns1:LIVE_TEST_TYPE"/>
				<xs:element name="flag" type="FLAG_TYPE" minOccurs="0"/>
				<xs:element name="submissionType" type="SUBMISSION_TYPE"/>
				<xs:element name="contact" type="ns1:CONTACT_TYPE" minOccurs="0"/>
				<xs:element name="startPeriod" type="ns1:DATE_TYPE" minOccurs="0"/>	
				<xs:element name="endPeriod" type="ns1:DATE_TYPE" minOccurs="0"/>
				<xs:element name="briefDescription" type="ns1:STRING_1K_RESTRICTED_TYPE" minOccurs="0"/>	
				<xs:element name="filer" type="FILER_TYPE"/>
				<xs:element name="accessionNumber" type="ns1:ACCESSION_NUMBER_TYPE" minOccurs="0"/>
				<xs:element name="sros" type="ns1:SROS_TYPE" minOccurs="0"/>
				<xs:element name="emergingGrowthCompanyFlag" type="ns1:TRUE_FALSE_TYPE" minOccurs="0"/>
                <xs:element name="exTransitionPeriodFlag" type="ns1:TRUE_FALSE_TYPE" minOccurs="0"/>
				<xs:element name="periodOfReport" type="ns1:DATE_TYPE" minOccurs="0"/>
				<xs:element name="calendarYearEnd" type="ns1:YEAR_TYPE" minOccurs="0"/>
				<xs:element name="description" type="ns1:STRING_256_TYPE" minOccurs="0"/>								
				<xs:element name="notifications" type="ns1:NOTIFICATION_TYPE" minOccurs="0"/>
				<xs:element name="moduleSegments" type="ns1:MODULES_SEGMENT_TYPE" minOccurs="0"/>
				<xs:choice>
					<xs:element name="documents" type="ns1:EDGAR_DOCUMENTS_TYPE"/>
					<xs:element name="documentsConfidential" type="ns1:CONFIDENTIAL_DOCUMENTS_TYPE1" />
				</xs:choice>
				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
