sec_xml_specs/sec_specs/edgarlink-online-xml-tech-spec-52/EDGARLink Online XML Schema files/eis_ABS_15GFiler.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by knowlinm (KEANE FEDERAL SYSTEMS) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.sec.gov/edgar/abs15gfiler" xmlns:ns1="http://www.sec.gov/edgar/common" targetNamespace="http://www.sec.gov/edgar/abs15gfiler" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.sec.gov/edgar/common" schemaLocation="eis_Common.xsd"/>
	<xs:simpleType name="SUBMISSION_TYPE">
		<xs:annotation>
			<xs:documentation>
            Type of submission you are filing.  Choose a value from the appropriate family of
            Submission Types.  
            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="ABS-15G"/>
			<xs:enumeration value="ABS-15G/A"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="FLAG_TYPE">
		<xs:sequence>
			<xs:element name="confirmingCopyFlag" type="ns1:TRUE_FALSE_TYPE" minOccurs="0"/>
			<xs:element name="overrideInternetFlag" type="ns1:TRUE_FALSE_TYPE" minOccurs="0"/>
			<xs:element name="returnCopyFlag" type="ns1:TRUE_FALSE_TYPE" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FILER_TYPE">
		<xs:sequence>
			<xs:element name="filerId" type="ns1:CIK_TYPE"/>
			<xs:element name="filerCcc" type="ns1:CCC_TYPE"/>
			<xs:element name="fileNumber" type="ns1:FILE_NUMBER_TYPE" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="RULE15GA1_ITEM_TYPE">
		<xs:restriction base="xs:token">
			<xs:enumeration value="1.01"/>
			<xs:enumeration value="1.02"/>
			<xs:enumeration value="1.03"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RULE15GA2_ITEM_TYPE">
		<xs:restriction base="xs:token">
			<xs:enumeration value="2.01"/>
			<xs:enumeration value="2.02"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ISSUER_TYPE">
		<xs:sequence>
			<xs:element name="issuingEntityCik" type="ns1:CIK_TYPE" minOccurs="0"/>
			<xs:element name="issuingEntityName" type="ns1:ENTITY_NAME_TYPE" minOccurs="0"/>
			<xs:element name="issuingEntityHasFileNumber" type="ns1:YES_NO_TYPE" minOccurs="0"/>
			<xs:element name="issuingEntityFileNumber" type="ns1:FILE_NUMBER_TYPE" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SECURITIZER_TYPE">
		<xs:sequence>
			<xs:element name="securitizerHasCik" type="ns1:YES_NO_TYPE"/>
			<xs:element name="securitizerCik" type="ns1:CIK_TYPE" minOccurs="0"/>
			<xs:element name="securitizerHas025FileNumber" type="ns1:YES_NO_TYPE" minOccurs="0"/>
			<xs:element name="securitizerFileNumber" type="ns1:FILE_NUMBER_TYPE" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RULE15GA1_TYPE">
		<xs:sequence>
			<xs:element name="isRule15Ga1" type="ns1:TRUE_FALSE_TYPE" />
			<xs:element name="rule15Ga1Item" type="RULE15GA1_ITEM_TYPE" />
			<xs:element name="filedItem101" type="ns1:YES_NO_TYPE" minOccurs="0"/>
			<xs:element name="fileNumberItem101" type="ns1:FILE_NUMBER_TYPE" minOccurs="0"/>
			<xs:element name="noActivityInitial" type="ns1:YES_NO_TYPE" minOccurs="0"/>
			<xs:element name="noActivityQtr" type="ns1:YES_NO_TYPE" minOccurs="0"/>
			<xs:element name="noActivityAnnual" type="ns1:YES_NO_TYPE" minOccurs="0"/>			
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RULE15GA2_TYPE">
		<xs:sequence>
			<xs:element name="isRule15Ga2" type="ns1:TRUE_FALSE_TYPE"/>
			<xs:element name="rule15Ga2Item" type="RULE15GA2_ITEM_TYPE"/>
		    <xs:element name="isRegistered" type="ns1:YES_NO_TYPE"/>
			<xs:element name="securitizer" type="SECURITIZER_TYPE"/>
			<xs:element name="depositor" type="ns1:DEPOSITOR_TYPE"/>
			<xs:element name="issuer" type="ISSUER_TYPE"/>
			<xs:element name="underwriterCik" type="ns1:CIK_TYPE" minOccurs="0"/>			
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RULE15GA_TYPE">
		<xs:choice>
			<xs:element name="rule15Ga1Type" type="RULE15GA1_TYPE"/>
			<xs:element name="rule15Ga2Type" type="RULE15GA2_TYPE"/>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="ASSET_CLASS_TYPE">
		<xs:restriction base="xs:token">
			<xs:enumeration value="Residential mortgages - Prime"/>
			<xs:enumeration value="Residential mortgages - Non-Prime"/>
			<xs:enumeration value="Residential mortgages - HELOC"/>
			<xs:enumeration value="Residential mortgages - Reverse Mortgages"/>
			<xs:enumeration value="Residential mortgages - Manufactured Housing"/>
			<xs:enumeration value="Residential mortgages - Other/Combined"/>
			<xs:enumeration value="Commercial mortgages"/>
			<xs:enumeration value="Auto loans"/>
			<xs:enumeration value="Auto leases"/>
			<xs:enumeration value="Equipment loans"/>
			<xs:enumeration value="Equipment leases"/>
			<xs:enumeration value="Student loans"/>
			<xs:enumeration value="Floorplan financings"/>
			<xs:enumeration value="Debt Securities"/>
			<xs:enumeration value="Resecuritization"/>
			<xs:enumeration value="Credit card"/>
			<xs:enumeration value="Other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ACCESSION_NUMBER_TYPE">
		<xs:restriction base="xs:string">
			<xs:pattern value="[*]{0}|[0-9]{1,10}\-[0-9]{1,2}\-[0-9]{1,6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="edgarSubmission">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="schemaVersion" type="ns1:SCHEMA_VERSION_TYPE" minOccurs="0"/>
				<xs:element name="liveTestFlag" type="ns1:LIVE_TEST_TYPE"/>
				<xs:element name="flag" type="FLAG_TYPE" minOccurs="0"/>
				<xs:element name="contact" type="ns1:CONTACT_TYPE" minOccurs="0"/>
				<xs:element name="sros" type="ns1:SROS_TYPE"/>
				<xs:element name="startPeriodOfReport" type="ns1:DATE_TYPE" minOccurs="0"/>
				<xs:element name="periodOfReport" type="ns1:DATE_TYPE" minOccurs="0"/>
				<xs:element name="submissionType" type="SUBMISSION_TYPE"/>
				<xs:element name="accessionNumber" type="ACCESSION_NUMBER_TYPE" minOccurs="0"/>
				<xs:element name="assetClassType" type="ASSET_CLASS_TYPE"/>
				<xs:element name="filer" type="FILER_TYPE"/>
				<xs:element name="rule15GaType" type="RULE15GA_TYPE"/>
				<xs:element name="notifications" type="ns1:NOTIFICATION_TYPE" minOccurs="0"/>
				<xs:element name="moduleSegments" type="ns1:MODULES_SEGMENT_TYPE" minOccurs="0"/>
				<xs:element name="documents" type="ns1:EDGAR_DOCUMENTS_TYPE"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
