sec_xml_specs/sec_specs/edgarlink-online-xml-tech-spec-52/EDGARLink Online XML Schema files/eis_CoReg.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>
<!-- Filename: eisSingleFilerSubmission.xsd -->
<!-- Purpose:  Defines the elements for EdgarLink filings. -->
<!-- Version:   TBD -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.sec.gov/edgar/coreg" xmlns:ns1="http://www.sec.gov/edgar/common" xmlns:ns2="http://www.sec.gov/edgar/feecommon" targetNamespace="http://www.sec.gov/edgar/coreg" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:import namespace="http://www.sec.gov/edgar/common" schemaLocation="eis_Common.xsd"/>
    <xs:import namespace="http://www.sec.gov/edgar/feecommon" schemaLocation="eis_Common_Fee.xsd"/>
    <xs:simpleType name="SUBMISSION_TYPE">
        <xs:annotation>
            <xs:documentation>
            Type of submission you are filing.  Choose a value from the appropriate family of
            Submission Types.  
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
            <xs:enumeration value="10-12B"/>
            <xs:enumeration value="10-12B/A"/>
            <xs:enumeration value="10-12G"/>
            <xs:enumeration value="10-12G/A"/>
            <xs:enumeration value="10-D"/>
            <xs:enumeration value="10-D/A"/>
            <xs:enumeration value="10-K"/>
            <xs:enumeration value="10-K/A"/>
            <xs:enumeration value="10KSB"/>
            <xs:enumeration value="10KSB/A"/>
            <xs:enumeration value="10-KT"/>
            <xs:enumeration value="10-KT/A"/>
            <xs:enumeration value="10-Q"/>
            <xs:enumeration value="10-Q/A"/>
            <xs:enumeration value="10-QT"/>
            <xs:enumeration value="10-QT/A"/>
            <xs:enumeration value="11-K"/>
            <xs:enumeration value="11-K/A"/>
            <xs:enumeration value="11-KT"/>
            <xs:enumeration value="11-KT/A"/>
            <xs:enumeration value="15-12B"/>
            <xs:enumeration value="15-12B/A"/>
            <xs:enumeration value="15-12G"/>
            <xs:enumeration value="15-12G/A"/>
            <xs:enumeration value="15-15D"/>
            <xs:enumeration value="15-15D/A"/>
            <xs:enumeration value="15F-12B"/>
            <xs:enumeration value="15F-12B/A"/>
            <xs:enumeration value="15F-12G"/>
            <xs:enumeration value="15F-12G/A"/>
            <xs:enumeration value="15F-15D"/>
            <xs:enumeration value="15F-15D/A"/>
            <xs:enumeration value="18-12B"/>
            <xs:enumeration value="18-12B/A"/>
            <xs:enumeration value="18-12G"/>
            <xs:enumeration value="18-12G/A"/>
            <xs:enumeration value="18-K"/>
            <xs:enumeration value="18-K/A"/>
            <xs:enumeration value="1-A-W"/>
            <xs:enumeration value="1-A-W/A"/>
            <xs:enumeration value="1-E AD"/>
            <xs:enumeration value="1-E AD/A"/>
            <xs:enumeration value="1-E"/>
            <xs:enumeration value="1-E/A"/>
            <xs:enumeration value="1-SA"/>
            <xs:enumeration value="1-SA/A"/>
            <xs:enumeration value="1-U"/>
            <xs:enumeration value="1-U/A"/>
            <xs:enumeration value="1-Z-W"/>
            <xs:enumeration value="1-Z-W/A"/>
            <xs:enumeration value="20-F"/>
            <xs:enumeration value="20-F/A"/>
            <xs:enumeration value="20FR12B"/>
            <xs:enumeration value="20FR12B/A"/>
            <xs:enumeration value="20FR12G"/>
            <xs:enumeration value="20FR12G/A"/>
            <xs:enumeration value="25"/>
            <xs:enumeration value="25/A"/>
            <xs:enumeration value="253G1"/>
            <xs:enumeration value="253G2"/>
            <xs:enumeration value="253G3"/>
            <xs:enumeration value="253G4"/>
            <xs:enumeration value="2-E"/>
            <xs:enumeration value="2-E/A"/>
            <xs:enumeration value="305B2"/>
            <xs:enumeration value="305B2/A"/>
            <xs:enumeration value="40-17G"/>
            <xs:enumeration value="40-17G/A"/>
            <xs:enumeration value="40-17GCS"/>
            <xs:enumeration value="40-17GCS/A"/>
            <xs:enumeration value="40-24B2"/>
            <xs:enumeration value="40-24B2/A"/>
            <xs:enumeration value="40-33"/>
            <xs:enumeration value="40-33/A"/>
            <xs:enumeration value="40-6B"/>
            <xs:enumeration value="40-6B/A"/>
            <xs:enumeration value="40-8B25"/>
            <xs:enumeration value="40-8F-2"/>
            <xs:enumeration value="40-8F-2/A"/>
            <xs:enumeration value="40-APP"/>
            <xs:enumeration value="40-APP/A"/>
            <xs:enumeration value="40-F"/>
            <xs:enumeration value="40-F/A"/>
            <xs:enumeration value="40FR12B"/>
            <xs:enumeration value="40FR12B/A"/>
            <xs:enumeration value="40FR12G"/>
            <xs:enumeration value="40FR12G/A"/>
            <xs:enumeration value="40-OIP"/>
            <xs:enumeration value="40-OIP/A"/>
            <xs:enumeration value="424A"/>
            <xs:enumeration value="486APOS"/>
            <xs:enumeration value="486BPOS"/>
			<xs:enumeration value="486BXT"/>
            <xs:enumeration value="487"/>
            <xs:enumeration value="497H2"/>
            <xs:enumeration value="6-K"/>
            <xs:enumeration value="6-K/A"/>
            <xs:enumeration value="F-SR"/>
            <xs:enumeration value="F-SR/A"/>
            <xs:enumeration value="8-A12B"/>
            <xs:enumeration value="8-A12B/A"/>
            <xs:enumeration value="8-A12G"/>
            <xs:enumeration value="8-A12G/A"/>
            <xs:enumeration value="8-K"/>
            <xs:enumeration value="8-K/A"/>
            <xs:enumeration value="8-K12B"/>
            <xs:enumeration value="8-K12B/A"/>
            <xs:enumeration value="8-K12G3"/>
            <xs:enumeration value="8-K12G3/A"/>
            <xs:enumeration value="8-K15D5"/>
            <xs:enumeration value="8-K15D5/A"/>
            <xs:enumeration value="APP WD"/>
            <xs:enumeration value="APP WD/A"/>
            <xs:enumeration value="ARS"/>
            <xs:enumeration value="ARS/A"/>
            <xs:enumeration value="AW"/>
            <xs:enumeration value="AW WD"/>
            <xs:enumeration value="DEL AM"/>
            <xs:enumeration value="DOSLTR"/>
            <xs:enumeration value="F-10POS"/>
            <xs:enumeration value="F-3DPOS"/>
            <xs:enumeration value="F-7 POS"/>
            <xs:enumeration value="F-8 POS"/>
            <xs:enumeration value="F-80POS"/>
            <xs:enumeration value="F-9 POS"/>
            <xs:enumeration value="N-18F1"/>
            <xs:enumeration value="N-18F1/A"/>
            <xs:enumeration value="N-23C-2"/>
            <xs:enumeration value="N-23C-2/A"/>
            <xs:enumeration value="N-23C3A"/>
            <xs:enumeration value="N-23C3A/A"/>
            <xs:enumeration value="N-23C3B"/>
            <xs:enumeration value="N-23C3B/A"/>
            <xs:enumeration value="N-23C3C"/>
            <xs:enumeration value="N-23C3C/A"/>
            <xs:enumeration value="N-8B-2"/>
            <xs:enumeration value="N-8B-2/A"/>
            <xs:enumeration value="N-8B-3"/>
            <xs:enumeration value="N-8B-3/A"/>
            <xs:enumeration value="N-8B-4"/>
            <xs:enumeration value="N-8B-4/A"/>
            <xs:enumeration value="N-8F"/>
            <xs:enumeration value="N-8F/A"/>
            <xs:enumeration value="NSAR-U"/>
            <xs:enumeration value="NSAR-U/A"/>
            <xs:enumeration value="NT 10-D"/>
            <xs:enumeration value="NT 10-D/A"/>
            <xs:enumeration value="NT 10-K"/>
            <xs:enumeration value="NT 10-K/A"/>
            <xs:enumeration value="NT 10-Q"/>
            <xs:enumeration value="NT 10-Q/A"/>
            <xs:enumeration value="NT 11-K"/>
            <xs:enumeration value="NT 11-K/A"/>
            <xs:enumeration value="NT 15D2"/>
            <xs:enumeration value="NT 15D2/A"/>
            <xs:enumeration value="NT 20-F"/>
            <xs:enumeration value="NT 20-F/A"/>
            <xs:enumeration value="POS 8C"/>
            <xs:enumeration value="POS AM"/>
            <xs:enumeration value="POS EX"/>
            <xs:enumeration value="POS462B"/>
            <xs:enumeration value="POS462C"/>
            <xs:enumeration value="RW WD"/>
            <xs:enumeration value="RW"/>
            <xs:enumeration value="S-3DPOS"/>
            <xs:enumeration value="S-4 POS"/>
            <xs:enumeration value="S-6"/>
            <xs:enumeration value="S-6/A"/>
            <xs:enumeration value="S-8 POS"/>
            <xs:enumeration value="SP 15D2"/>
            <xs:enumeration value="SP 15D2/A"/>
            <xs:enumeration value="SPDSCL"/>
            <xs:enumeration value="SUPPL"/>
            <xs:enumeration value="T-3"/>
            <xs:enumeration value="T-3/A"/>
            <xs:enumeration value="T-6"/>
            <xs:enumeration value="T-6/A"/>
            <xs:enumeration value="UNDER"/>
            <xs:enumeration value="UNDER/A"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ITEM_SUBMISSION_TYPE">
        <xs:restriction base="xs:string">
            <xs:enumeration value="425"/>
            <xs:enumeration value="DEFA14A"/>
            <xs:enumeration value="DFAN14A"/>
            <xs:enumeration value="SC TO-C"/>           
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FILER_TYPE">
        <xs:sequence>
            <xs:element name="filerId" type="ns1:CIK_TYPE"/>
            <xs:element name="filerCcc" type="ns1:CCC_TYPE"/>
            <xs:element name="fileNumber" type="ns1:FILE_NUMBER_TYPE" minOccurs="0"/>
            <xs:element name="iaFileNumber" type="ns1:FILE_NUMBER_TYPE" minOccurs="0"/>
            <xs:element name="dutyToFileReportsRemains" type="ns1:TRUE_FALSE_TYPE" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FILER_TYPE_2">
        <xs:sequence>
            <xs:element name="filerId" type="ns1:CIK_TYPE"/>
            <xs:element name="filerCcc" type="ns1:CCC_TYPE"/>
            <xs:element name="fileNumber" type="ns1:FILE_NUMBER_TYPE_2" minOccurs="0"/>
            <xs:element name="iaFileNumber" type="ns1:FILE_NUMBER_TYPE_2" minOccurs="0"/>
            <xs:element name="dutyToFileReportsRemains" type="ns1:TRUE_FALSE_TYPE" minOccurs="0"/>
            <xs:element name="emergingGrowthCompanyFlag" type="ns1:TRUE_FALSE_TYPE" minOccurs="0"/>
            <xs:element name="exTransitionPeriodFlag" type="ns1:TRUE_FALSE_TYPE" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SUBJECT_COMPANY_TYPE">
        <xs:sequence>
            <xs:element name="filerId" type="ns1:CIK_TYPE"/>
            <xs:element name="irsNumber" type="ns1:TAX_ID_TYPE" minOccurs="0"/>
            <xs:element name="fileNumber" type="ns1:FILE_NUMBER_TYPE" minOccurs="0"/>
            <xs:element name="filerName" type="ns1:ENTITY_NAME_TYPE"/>
            <xs:element name="groupName" type="ns1:ENTITY_NAME_TYPE" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ITEM_TYPE">
        <xs:restriction base="xs:string">
            <xs:enumeration value="1.01"/>
            <xs:enumeration value="1.02"/>
            <xs:enumeration value="1.03"/>
            <xs:enumeration value="1.04"/>
            <xs:enumeration value="1.05"/>
            <xs:enumeration value="2.01"/>
            <xs:enumeration value="2.02"/>
            <xs:enumeration value="2.03"/>
            <xs:enumeration value="2.04"/>
            <xs:enumeration value="2.05"/>
            <xs:enumeration value="2.06"/>
            <xs:enumeration value="3.01"/>
            <xs:enumeration value="3.02"/>
            <xs:enumeration value="3.03"/>
            <xs:enumeration value="4.01"/>
            <xs:enumeration value="4.02"/>
            <xs:enumeration value="5.01"/>
            <xs:enumeration value="5.02"/>
            <xs:enumeration value="5.03"/>
            <xs:enumeration value="5.04"/>
            <xs:enumeration value="5.05"/>
            <xs:enumeration value="5.06"/>
            <xs:enumeration value="5.07"/>
            <xs:enumeration value="5.08"/>
            <xs:enumeration value="6.01"/>
            <xs:enumeration value="6.02"/>
            <xs:enumeration value="6.03"/>
            <xs:enumeration value="6.04"/>
            <xs:enumeration value="6.05"/>
            <xs:enumeration value="6.06"/>
            <xs:enumeration value="7.01"/>
            <xs:enumeration value="8.01"/>
            <xs:enumeration value="9.01"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ITEM_TYPE_2">
        <xs:restriction base="xs:string">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="5"/>
            <xs:enumeration value="6"/>
            <xs:enumeration value="7"/>
            <xs:enumeration value="8"/>
            <xs:enumeration value="9.1"/>
            <xs:enumeration value="9.2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ITEMS_TYPE">
        <xs:sequence>
            <xs:element name="item" type="ITEM_TYPE" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ITEMS_TYPE_2">
        <xs:sequence>
            <xs:element name="itemType2" type="ITEM_TYPE_2" maxOccurs="10"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FILERS_TYPE">
        <xs:sequence>
            <xs:element name="filer" type="FILER_TYPE_2" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="FISCAL_YEAR_TYPE_2">
        <xs:annotation>
            <xs:documentation>Updated fiscal year end value. Acceptable values are in the format MM/DD, for example, 12/31, 03/30, 06/30, 2/28.</xs:documentation>
            <xs:documentation/>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{2,2}/\d{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FISCAL_YEAR_TYPE">
        <xs:sequence>
            <xs:element name="fiscalYearEnd" type="FISCAL_YEAR_TYPE_2" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ABS_EE_EELMENTS">
    	<xs:sequence>
			<xs:element name="abseeStartPeriod" type="ns1:DATE_TYPE" />
        	<xs:element name="abseeEndPeriod" type="ns1:DATE_TYPE" />
        	<xs:element name="abseeFileNumber" type="ns1:FILE_NUMBER_TYPE_2" />
            <xs:element name="abseeCoregs" type="FILERS_TYPE" minOccurs="0"/>
            <xs:element name="abseeAccessionNumber" type="ns1:ACCESSION_NUMBER_TYPE" minOccurs="0"/>           
   		</xs:sequence>
   	</xs:complexType>
    <xs:element name="edgarSubmission">
        <xs:annotation>
            <xs:documentation>This is the root element for an EDGARLink Online submission.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="schemaVersion" type="ns1:SCHEMA_VERSION_TYPE" minOccurs="0"/>
                <xs:element name="liveTestFlag" type="ns1:LIVE_TEST_TYPE"/>
                <xs:element name="flags" type="ns1:FLAG_TYPE" minOccurs="0"/>
                <xs:element name="submissionType" type="SUBMISSION_TYPE"/>
                <xs:element name="contact" type="ns1:CONTACT_TYPE" minOccurs="0"/>
                <xs:element name="filer" type="FILER_TYPE"/>
                <xs:element name="sponsorId" type="ns1:CIK_TYPE" minOccurs="0"/>
                <xs:element name="absAssetClasses" type="ns1:ABS_ASSET_CLASS_TYPES" minOccurs="0">
                    <xs:unique name="uniqueAbsAssetClass">
                        <xs:selector xpath="ns1:absAssetClass"/>
                        <xs:field xpath="."/>
                    </xs:unique>
                </xs:element>
                <xs:element name="absSubAssetClasses" type="ns1:ABS_SUB_ASSET_CLASS_TYPES" minOccurs="0">
                    <xs:unique name="uniqueSubAbsAssetClass">
                        <xs:selector xpath="ns1:absSubAssetClass"/>
                        <xs:field xpath="."/>
                    </xs:unique>
                </xs:element>                
                <xs:element name="coregs" type="FILERS_TYPE" minOccurs="0"/>
                <xs:element name="sros" type="ns1:SROS_TYPE"/> 
                <xs:element name="feeTableIncludedFlag" type="ns1:YES_NO_TYPE" minOccurs="0"/>              
                <xs:element name="act" type="ns1:ACT_TYPE" minOccurs="0"/>
                <xs:element name="periodOfReport" type="ns1:DATE_TYPE" minOccurs="0"/>
                <xs:element name="effectiveDate" type="ns1:DATE_TYPE" minOccurs="0"/>                
                <xs:element name="accessionNumber" type="ns1:ACCESSION_NUMBER_TYPE" minOccurs="0"/>
                <xs:element name="invCompany" type="ns1:INV_COMPANY_TYPE" minOccurs="0"/>
                <xs:element name="items" type="ITEMS_TYPE" minOccurs="0"/>
                <xs:element name="itemsType2" type="ITEMS_TYPE_2" minOccurs="0"/>
                <xs:element name="itemSubmissionType" type="ITEM_SUBMISSION_TYPE" minOccurs="0"/>
                <xs:element name="fiscalYear" type="FISCAL_YEAR_TYPE" minOccurs="0"/>
                <xs:element name="depositor" type="ns1:DEPOSITOR_TYPE" minOccurs="0"/>
                <xs:element name="successorCompany" type="ns1:SUCCESSOR_TYPE" minOccurs="0"/>
                <xs:element name="subCompanyFiler" type="SUBJECT_COMPANY_TYPE" minOccurs="0"/>
                <xs:element name="shellCompanyFlag" type="ns1:TRUE_FALSE_TYPE" minOccurs="0"/>
                <xs:element name="voluntaryFilerFlag" type="ns1:TRUE_FALSE_TYPE" minOccurs="0"/>
                <xs:element name="wellKnownSeasonedIssuerFlag" type="ns1:TRUE_FALSE_TYPE" minOccurs="0"/>
                <xs:element name="filerNewRegistrantFlag" type="ns1:TRUE_FALSE_TYPE" minOccurs="0"/>
				<xs:element name="pursuantGeneralInstructionFlag" type="ns1:TRUE_FALSE_TYPE" minOccurs="0"/>
                <xs:element name="emergingGrowthCompanyFlag" type="ns1:TRUE_FALSE_TYPE" minOccurs="0"/>
                <xs:element name="exTransitionPeriodFlag" type="ns1:TRUE_FALSE_TYPE" minOccurs="0"/>
                <xs:element name="acceleratedFilerStatus" type="ns1:ACCELERATED_STATUS_TYPE" minOccurs="0"/>
                <xs:element name="smallBusinessFlag" type="ns1:TRUE_FALSE_TYPE" minOccurs="0"/>
                <xs:element name="isComboSubmission" type="ns1:TRUE_FALSE_TYPE" minOccurs="0"/>
                <xs:element name="abseeElements" type="ABS_EE_EELMENTS" minOccurs="0" />
                <xs:element name="selectedCategory" type="ns1:STRING_50_TYPE" minOccurs="0" />               
                <xs:element name="ftExhibitFlag" type="ns1:TRUE_FALSE_TYPE" minOccurs="0"/>
                <xs:element name="feePayorInformation" type="ns2:PAYOR_TYPE" minOccurs="0"/>
                <xs:element name="references" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="references_429" type="ns1:FILE_NUMBER_TYPE" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="notifications" type="ns1:NOTIFICATION_TYPE" minOccurs="0"/>
                <xs:element name="moduleSegments" type="ns1:MODULES_SEGMENT_TYPE" minOccurs="0"/>
                <xs:element name="documents" type="ns1:EDGAR_DOCUMENTS_TYPE"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>