sec_xml_specs/sec_specs/edgarlink-online-xml-tech-spec-52/EDGARLink Online XML Schema files/eis_CoReg_Fee.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Filename: eisSingleFilerSubmission.xsd -->
<!-- Purpose:  Defines the elements for EdgarLink filings. -->
<!-- Version:   TBD -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.sec.gov/edgar/coregfee" xmlns:ns1="http://www.sec.gov/edgar/common" xmlns:ns2="http://www.sec.gov/edgar/feecommon" targetNamespace="http://www.sec.gov/edgar/coregfee" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.sec.gov/edgar/common" schemaLocation="eis_Common.xsd"/>
	<xs:import namespace="http://www.sec.gov/edgar/feecommon" schemaLocation="eis_Common_Fee.xsd"/>
	<xs:complexType name="FLAG_TYPE">
		<xs:sequence>
			<xs:element name="confirmingCopyFlag" type="ns1:TRUE_FALSE_TYPE" minOccurs="0"/>
			<xs:element name="delayingAmendmentFlag" type="ns1:TRUE_FALSE_TYPE" minOccurs="0"/>
			<xs:element name="overrideInternetFlag" type="ns1:TRUE_FALSE_TYPE" minOccurs="0"/>
			<xs:element name="returnCopyFlag" type="ns1:TRUE_FALSE_TYPE" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="SUBMISSION_TYPE">
		<xs:annotation>
			<xs:documentation>
            Type of submission you are filing.  Choose a value from the appropriate family of
            Submission Types.  
            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="F-1"/>
			<xs:enumeration value="F-1/A"/>
			<xs:enumeration value="F-10"/>
			<xs:enumeration value="F-10/A"/>
			<xs:enumeration value="F-10EF"/>
			<xs:enumeration value="F-1MEF"/>
			<xs:enumeration value="F-3"/>
			<xs:enumeration value="F-3/A"/>
			<xs:enumeration value="F-3ASR"/>
			<xs:enumeration value="F-3D"/>
			<xs:enumeration value="F-3MEF"/>
			<xs:enumeration value="F-4"/>
			<xs:enumeration value="F-4/A"/>
			<xs:enumeration value="F-4MEF"/>
			<xs:enumeration value="F-7"/>
			<xs:enumeration value="F-7/A"/>
			<xs:enumeration value="F-8"/>
			<xs:enumeration value="F-8/A"/>
			<xs:enumeration value="F-80"/>
			<xs:enumeration value="F-80/A"/>
			<xs:enumeration value="F-9"/>
			<xs:enumeration value="F-9/A"/>
			<xs:enumeration value="F-9EF"/>
			<xs:enumeration value="N-14 8C"/>
			<xs:enumeration value="N-14 8C/A"/>
			<xs:enumeration value="N-14MEF"/>
			<xs:enumeration value="N-2"/>
			<xs:enumeration value="N-2/A"/>
			<xs:enumeration value="N-2MEF"/>
			<xs:enumeration value="N-2ASR"/>
			<xs:enumeration value="N-2 POSASR"/>			
			<xs:enumeration value="N-5"/>
			<xs:enumeration value="N-5/A"/>
			<xs:enumeration value="POSASR"/>
			<xs:enumeration value="S-1"/>
			<xs:enumeration value="S-1/A"/>
			<xs:enumeration value="S-11"/>
			<xs:enumeration value="S-11/A"/>
			<xs:enumeration value="S-11MEF"/>
			<xs:enumeration value="S-1MEF"/>
			<xs:enumeration value="S-20"/>
			<xs:enumeration value="S-20/A"/>
			<xs:enumeration value="S-3"/>
			<xs:enumeration value="S-3/A"/>
			<xs:enumeration value="S-3ASR"/>
			<xs:enumeration value="S-3D"/>
			<xs:enumeration value="S-3MEF"/>
			<xs:enumeration value="S-4"/>
			<xs:enumeration value="S-4/A"/>
			<xs:enumeration value="S-4EF"/>
			<xs:enumeration value="S-4MEF"/>
			<xs:enumeration value="S-8"/>
			<xs:enumeration value="S-B"/>
			<xs:enumeration value="S-B/A"/>
			<xs:enumeration value="S-BMEF"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="COMBO_FORM_TYPE">
	    <xs:annotation>
            <xs:documentation>Used to specify a different form type for a co-registrant filing. Choose the value from the list displayed when the arrow is selected.
            </xs:documentation>
        </xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="S-1"/>
			<xs:enumeration value="S-1/A"/>
			<xs:enumeration value="S-3"/>
			<xs:enumeration value="S-3/A"/>
			<xs:enumeration value="S-1MEF"/>
			<xs:enumeration value="S-3MEF"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="FILER_TYPE">
		<xs:sequence>
			<xs:element name="filerId" type="ns1:CIK_TYPE"/>
			<xs:element name="filerCcc" type="ns1:CCC_TYPE"/>
			<xs:element name="fileNumber" type="ns1:FILE_NUMBER_TYPE" minOccurs="0"/>
			<xs:element name="filerFormType" type="COMBO_FORM_TYPE" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FILER_TYPE_2">
		<xs:sequence>
			<xs:element name="filerId" type="ns1:CIK_TYPE"/>
			<xs:element name="filerCcc" type="ns1:CCC_TYPE"/>
			<xs:element name="fileNumber" type="ns1:FILE_NUMBER_TYPE_2" minOccurs="0"/>
			<xs:element name="filerFormType" type="COMBO_FORM_TYPE" minOccurs="0"/>
			<xs:element name="emergingGrowthCompanyFlag" type="ns1:TRUE_FALSE_TYPE" minOccurs="0"/>
		    <xs:element name="exTransitionPeriodFlag" type="ns1:TRUE_FALSE_TYPE" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FILERS_TYPE">
		<xs:sequence>
			<xs:element name="filer" type="FILER_TYPE_2" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="INVEST_COMP_TYPE">
	   <xs:annotation>
            <xs:documentation>
            Identifies the investment company type of the filer. Choose a value from the list displayed when the arrow is selected. 
            </xs:documentation>
        </xs:annotation>
		<xs:choice>
			<xs:element name="investCompany" type="ns1:INV_COMPANY_TYPE"/>
			<xs:element name="investmentCompany" type="ns1:INVESTMENT_COMPANY_TYPE"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="edgarSubmission">
		<xs:annotation>
			<xs:documentation>This is the root element for an EDGARLink Online submission.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="schemaVersion" type="ns1:SCHEMA_VERSION_TYPE" minOccurs="0"/>
				<xs:element name="liveTestFlag" type="ns1:LIVE_TEST_TYPE"/>
				<xs:element name="flags" type="FLAG_TYPE" minOccurs="0"/>
				<xs:element name="submissionType" type="SUBMISSION_TYPE"/>
				<xs:element name="contact" type="ns1:CONTACT_TYPE" minOccurs="0"/>
				<xs:element name="filer" type="FILER_TYPE"/>
				<xs:element name="coregs" type="FILERS_TYPE" minOccurs="0"/>
				<xs:element name="sros" type="ns1:SROS_TYPE"/>
				<xs:element name="feeTableIncludedFlag" type="ns1:YES_NO_TYPE" minOccurs="0"/>
				<xs:element name="smallBusinessFlag" type="ns1:TRUE_FALSE_TYPE" minOccurs="0"/>
				<xs:element name="invCompany" type="INVEST_COMP_TYPE" minOccurs="0"/>
                <xs:element name="wellKnownSeasonedIssuerFlag" type="ns1:TRUE_FALSE_TYPE" minOccurs="0"/>
				<xs:element name="filerNewRegistrantFlag" type="ns1:TRUE_FALSE_TYPE" minOccurs="0"/>
				<xs:element name="pursuantGeneralInstructionFlag" type="ns1:TRUE_FALSE_TYPE" minOccurs="0"/>
				<xs:element name="eligibleFundFlag" type="ns1:TRUE_FALSE_TYPE" minOccurs="0"/>
                <xs:element name="emergingGrowthCompanyFlag" type="ns1:TRUE_FALSE_TYPE" minOccurs="0"/>
				<xs:element name="exTransitionPeriodFlag" type="ns1:TRUE_FALSE_TYPE" minOccurs="0"/>
				<xs:element name="acceleratedFilerStatus" type="ns1:ACCELERATED_STATUS_TYPE" minOccurs="0" />
				<xs:element name="ftExhibitFlag" type="ns1:TRUE_FALSE_TYPE" minOccurs="0"/> 
				<xs:element name="references" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="references_429" type="ns1:FILE_NUMBER_TYPE" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="references_462b" type="ns1:FILE_NUMBER_TYPE" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="effectiveDate" type="ns1:DATE_TYPE" minOccurs="0"/>
				<xs:element name="act" type="ns1:ACT_TYPE" minOccurs="0"/>
				<xs:element name="notifications" type="ns1:NOTIFICATION_TYPE" minOccurs="0"/>
				<xs:element name="moduleSegments" type="ns1:MODULES_SEGMENT_TYPE" minOccurs="0"/>
				<xs:element name="documents" type="ns1:EDGAR_DOCUMENTS_TYPE"/>
				<xs:element name="edgarFee">
					<xs:annotation>
						<xs:documentation>Comment describing your root element</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="submissionFee" type="ns2:FEE_TYPE" minOccurs="0"/>
							<xs:element name="submissionOffering" type="ns2:FEE_OFFERING_TYPE" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="submissionOffset" type="ns2:FEE_OFFSET_TYPE" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
