sec_xml_specs/sec_specs/edgarlink-online-xml-tech-spec-52/EDGARLink Online XML Schema files/eis_SingleFiler_SC.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.sec.gov/edgar/singlefilersc"
	xmlns:ns1="http://www.sec.gov/edgar/common" xmlns:ns3="http://www.sec.gov/edgar/sccommon" targetNamespace="http://www.sec.gov/edgar/singlefilersc"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.sec.gov/edgar/common"
		schemaLocation="eis_Common.xsd" />
	<xs:import namespace="http://www.sec.gov/edgar/sccommon"
		schemaLocation="eis_Common_SC.xsd" />
	<xs:simpleType name="SUBMISSION_TYPE">
		<xs:annotation>
			<xs:documentation>
				Type of submission you are filing. Choose a value from the appropriate
				family of
				Submission Types.  
            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="497K" />
			<xs:enumeration value="497VPU" />
			<xs:enumeration value="497VPI" />
			<xs:enumeration value="N-PX" />
			<xs:enumeration value="N-PX/A" />
            <xs:enumeration value="N-CR" />
            <xs:enumeration value="N-CR/A" />
            <xs:enumeration value="NT-NCEN" />
            <xs:enumeration value="NT-NCEN/A" />
            <xs:enumeration value="NPORT-EX" />
            <xs:enumeration value="NPORT-EX/A" />
			<xs:enumeration value="N-RN" />
			<xs:enumeration value="N-RN/A" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="FILER_TYPE">
		<xs:sequence>
			<xs:element name="filerId" type="ns1:CIK_TYPE" />
			<xs:element name="filerCcc" type="ns1:CCC_TYPE" />
			<xs:element name="fileNumber" type="ns1:FILE_NUMBER_TYPE"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FLAG_TYPE">
		<xs:sequence>
			<xs:element name="confirmingCopyFlag" type="ns1:TRUE_FALSE_TYPE"
				minOccurs="0" />
			<xs:element name="returnCopyFlag" type="ns1:TRUE_FALSE_TYPE"
				minOccurs="0" />
			<xs:element name="overrideInternetFlag" type="ns1:TRUE_FALSE_TYPE"
				minOccurs="0" />
			<xs:element name="insuranceProductFundFlag" type="ns1:TRUE_FALSE_TYPE" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="edgarSubmission">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="schemaVersion" type="ns1:SCHEMA_VERSION_TYPE"	minOccurs="0" />
				<xs:element name="liveTestFlag" type="ns1:LIVE_TEST_TYPE" />
				<xs:element name="flag" type="FLAG_TYPE" minOccurs="0" />
				<xs:element name="submissionType" type="SUBMISSION_TYPE" />
				<xs:element name="contact" type="ns1:CONTACT_TYPE"	minOccurs="0" />
                <xs:element name="contactEmail" type="ns1:INTERNET_ADDRESS_TYPE" minOccurs="0" />
				<xs:element name="filer" type="FILER_TYPE" />
				<xs:element name="sros" type="ns1:SROS_TYPE" />
				<xs:element name="periodOfReport" type="ns1:DATE_TYPE" minOccurs="0" />
				<xs:element name="invCompany" type="ns1:INV_COMPANY_TYPE" minOccurs="0"/>
				<xs:element name="notifications" type="ns1:NOTIFICATION_TYPE"
					minOccurs="0" />
				<xs:element name="moduleSegments" type="ns1:MODULES_SEGMENT_TYPE"
					minOccurs="0" />
				<xs:element name="documents" type="ns1:EDGAR_DOCUMENTS_TYPE" />
				<xs:element name="seriesClasses" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:choice>
								<xs:element name="reportSeriesClass" type="ns3:RPT_SERIES_TYPE"
									minOccurs="0" />
								<xs:element name="reportClass" type="ns3:RPT_CLASS_TYPE"
									minOccurs="0" />
							</xs:choice>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="accessionNumber" type="ns1:ACCESSION_NUMBER_TYPE"	minOccurs="0" />
				<xs:element name="multiAccessionNumbers" type="ns3:MULTI_ACCESSION_NUMBERS_TYPE" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
